
/*
==== LAYOUT STYLES ====

---- STACKS ----
There are two stack types — vertical (v-stack) and horizontal (h-stack). 
They are merely flex containers oriented eithervertically (column) or horizontally (row).

Build your entire layout using these in combination with flex properties 
(apart from flex-direction, which is decided by the "v/h" aspect of the stack).
*/

.v-stack {
    display: flex;
    flex-direction: column;
}

.h-stack {
    display: flex;
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.fold {
    min-height: 0;
    min-width: 0;
}