
/*
==== STACKS AND extrinsic SIZING ====

---- STACKS ----
There are two stack types — vertical (v-stack) and horizontal (h-stack). They are merely flex containers oriented either
vertically (column) or horizontally (row).

---- EXTRINSIC ----
Sometimes, you might want to use extrinsic sizing. By default, flexboxes use intrinsic sizing. If their content
is too large, this may result in the flexbox expanding beyond its its reserved space. This means the flexbox itself does not overflow,
but instead changes its size against the layout system. In cases where you'd want it to keep its size and scroll, it expands instead.g

This is where extrinsic sizing helps. When your flexbox is sized extrinsically, it does not expand beyond its designated space within the layout to
accommodate its children. Instead, it overflows, triggering scroll behaviour. This allows the component to be scrollable without having an explicitly
set height.

Use "v/h-stack" together with "extrinsic-v/h" classes. If you want extrinsic sizing in a stack,
make sure there is a chain of components using the "extrinsic-v/h" class from the nearest fixed-size
parent to your stack. 

For example, suppose I want extrinsic sizing vertically, so that my stack does not grow
beyond its parent when overflowing. I will go through every element from my stack up through the hierarchy, till I reach an
element with fixed size. I will make sure every element I check has either v-stack or h-stack class and instrinsic-v.

Visual example:
<div style="height: 100svh; width: 100svw;">
    <div class="v-stack extrinsic-v">
        <div class="h-stack extrinsic-v>
            <div class="v-stack extrinsic-v>
                <div class="todo-item">Buy eggs</div>
                <div class="todo-item>...</div>
                ...
            </div>
        </div>
    </div.
</div>

Note how every layer has "extrinsic-v". In order for "extrinsic-v/h" to work, we need a chain of "extrinsic-v" or "extrinsic-h" from
a component with fixed height. The moment the chain is broken, extrinsic sizing does not work.

extrinsic sizing works primarily with stacks or other flex components.
*/

.v-stack {
    display: flex;
    flex-direction: column;
}

.h-stack {
    display: flex;
    flex-direction: row;
}

.extrinsic-v {
    min-height: 0;
}

.extrinsic-h {
    min-height: 0;
}