/* Theme variables */

[data-theme="dark"] {
    --background-color-1: rgb(20 20 20);
    --background-color-2: rgb(10 10 10);
    --background-color-3: black;
    --component-background-color: 255 255 255;
    --component-border-color: 255 255 255;

    --color: white;
    --inverted-color: black;
}

:root {
    --size-3xs: 1rem;
    --size-2xs: 1.5rem;
    --size-xs: 2.25rem;
    --size-s: 3.5rem;
    --size-sm: 5rem;
    --size-m: 7.5rem;
    --size-ml: 11.5rem;
    --size-l: 17rem;
    --size-xl: 26rem;
    --size-2xl: 39rem;
    --size-3xl: 58rem;

    --padding-3xs: 0.25rem;
    --padding-2xs: 0.375rem;
    --padding-xs: 0.55rem;
    --padding-s: 0.875rem;
    --padding-sm: 1.25rem;
    --padding-m: 1.875rem;
    --padding-ml: 2.875rem;
    --padding-l: 4.25rem;
    --padding-xl: 6.5rem;
    --padding-2xl: 9.75rem;
    --padding-3xl: 14.5rem;


    --font-xs: 0.5rem;
    --font-s: 0.75rem;
    --font-m: 1rem;
    --font-l: 1.5rem;
    --font-xl: 2rem;
    --font-2xl: 3rem;
    --font-3xl: 4rem;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: transparent;
    color: var(--color);
    border-width: 0px;

    box-sizing: border-box;
}


html, body, #root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    flex-grow: 1;


    min-height: 100%;
    height: auto;
    background-color: var(--background-color-1);
}


/* Input */
input {
    border-width: 1px;
}

/* Text Area */

textarea {
    border-radius: 22px;
    color: rgb(var(--component-background-color) / 0.2);
    border-width: 1px;
    border-color: rgb(var(--component-background-color) / 0.75);

    resize: vertical;
}

/* Button */

button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    width: 128px;

    border-radius: 4px;
    border-style: hidden;
    outline: hidden;
}


.bg-1 {
    background-color: var(--background-color-1);
}

.bg-2 {
    background-color: var(--background-color-2);
}

.bg-3 {
    background-color: var(--background-color-3);
}

/* Containers */
.v-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.h-container {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
}



/* Clickable */ 
.clickable {
    background-color: rgb(var(--component-background-color) / 0.2);
}

.clickable:hover {
    background-color: rgb(var(--component-background-color) / 0.25);
}

.clickable:active {
    background-color: rgb(var(--component-background-color) / 0.3);
}

/* Clickable Transparent */
.clickable-transparent {
    background-color: transparent;
}

.clickable-transparent:hover {
    background-color: rgb(var(--component-background-color) / 0.2);
}

.clickable-transparent:active {
    background-color: rgb(var(--component-background-color) / 0.3);
}

/* Clickable Contrasting */
.clickable-contrasting {
    color: var(--inverted-color);
    background-color: rgb(var(--component-background-color));
}

.clickable-contrasting:hover {
    background-color: rgb(var(--component-background-color) / 0.9);
}

.clickable-contrasting:active {
    background-color: rgb(var(--component-background-color) / 0.8);
}

/* Clickable hover/active outline */ 
.clickable-border:hover {
    border: 1px solid rgb(var(--component-background-color) / 0.5);
}

.clickable-border:active {
    border: 1px solid rgb(var(--component-background-color) / 0.8);
}





