

/*
my-1 appearance-none rounded-xs bg-(--input-bg) 
border-1 border-(--input-border) 
has-focus:ring-2 has-focus:ring-(--input-border)
*/

.Input {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    border-radius: 0.25rem;

    background-color: var(--input-bg);
    border-width: 0.25rem;
    border-color: var(--input-border);
}
.Input:focus {
    box-shadow: 0 0 1rem 0.125rem var(--highlight-color);
    outline: none;
}




