

.topmost-container {
    display: flex;
    flex-direction: column;

    height: 100svh;
    width: 100svw;
}

.header {
    display: flex;
    justify-content: flex-end
}

.content {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}