/*
#root {
    // Surfaces
    --surface-radius: unset;
    --surface-padding: unset;

    // Buttons
    --button-radius: unset;
    --button-ghost-radius: unset;
    --button-padding: unset;

    // Inputs
    --input-radius: unset;
    --input-padding: unset;
}
*/

/*
Classes:
    .background

    .surface-base 
    .surface-elevated 
    .surface-sunken 

    .button-primary  
    .button-secondary 
    .button-danger 
    .button-ghost 
    .button-text 

    .link

    .input

    .text-emphasized 
    .text-muted 

    .heading-1
    .heading-2
    .heading-3
*/

/* Font defaults */
html, body, #root {
    height: 100svh;
    width: 100svw;
    overflow: hidden;
}

/* Base styling for classes */
/* Surfaces */
.surface-base {
    border-radius: var(--surface-radius);
    padding: var(--surface-padding);
}

.surface-elevated {
    border-radius: var(--surface-radius);
    padding: var(--surface-padding);
}

.surface-sunken {
    border-radius: var(--surface-radius);
    padding: var(--surface-padding);
}

/* Buttons */
.button-primary {
    border-radius: var(--button-radius);
    padding: var(--button-padding);
}


.button-secondary {
    border-radius: var(--button-radius);
    padding: var(--button-padding);
}


.button-danger {
    border-radius: var(--button-radius);
    padding: var(--button-padding);
}

/* Buttons: ghost buttons */
.button-ghost {
    border-radius: var(--button-ghost-radius);
    padding: var(--button-padding);
}

.button-text {
    padding: var(--button-padding);
}


/* Input */
.input {
    border-radius: var(--input-radius);
    padding: var(--input-padding);
}
