/*
Variables you should define:
    // Text
    --color
    --color-emphasized
    --color-muted
    // Surfaces
    --surface-radius — default border-radius for surfaces.
    --surface-padding — default padding for surfaces.

    // Buttons
    --button-radius — default border-radius for buttons.
    --button-ghost-radius — default border-radius for ghosts.
    --button-padding — default padding for buttons.

    // Inputs
    --input-radius — default border-radius for inputs.
    --input-padding — default padding for inputs.
}

Classes you should define when theming:
    .background — applied to html, body and root.

    .surface-base 
    .surface-elevated 
    .surface-sunken 

    .button-primary  
    .button-secondary 
    .button-danger 
    .button-ghost 
    .button-text 

    .link

    .input

    .color-emphasized 
    .color-muted 

    .heading-1
    .heading-2
    .heading-3
*/

html, body, #root {
    height: 100svh;
    width: 100svw;
    overflow: hidden;
    color: var(--color);
}

/* Base styling for classes */
/* Surfaces */
.surface-base,
.surface-elevated,
.surface-sunken {
    border-radius: var(--surface-radius);
    padding: var(--surface-padding);
}


/* Buttons */
.button-primary, 
.button-secondary, 
.button-danger {
    border-radius: var(--button-radius);
    padding: var(--button-padding);
}

/* Buttons: ghost buttons */
.button-ghost {
    border-radius: var(--button-ghost-radius);
    padding: var(--button-padding);
}

.button-text {
    padding: var(--button-padding);
}


/* Input */
.input {
    border-radius: var(--input-radius);
    padding: var(--input-padding);
}

.color-emphasized {
    color: var(--color-emphasized);
}

.color-muted {
    color: var(--color-muted);
}
