/*
Variables you should define:

    // Text — default, emphasized and muted colors
    --color
    --color-emphasized
    --color-muted

    // Spacing — affects padding and gap class default values
    --spacing-xs
    --spacing-sm
    --spacing-md
    --spacing-lg
    --spacing-xl

    // Surfaces
    --surface-radius — default border-radius for surfaces.
    --surface-padding — default padding for surfaces.

    // Buttons
    --button-radius — default border-radius for buttons.
    --button-ghost-radius — default border-radius for ghosts.
    --button-padding — default padding for buttons.

    // Inputs
    --input-radius — default border-radius for inputs.
    --input-padding — default padding for inputs.
}

Available classes (override as needed them when theming):
    .background — applied to html, body and root.

    // Surfaces
    .surface-base 
    .surface-elevated 
    .surface-sunken 
    .surface-item

    // Buttons
    .button-primary  
    .button-secondary 
    .button-danger 
    .button-ghost 
    .button-text 

    // Links
    .link

    // Inputs
    .input

    // Spacing
    .gap-xs
    .gap-sm
    .gap-md
    .gap-lg
    .gap-xl

    // Text color
    .color-emphasized 
    .color-muted 

    // Text headings
    .heading-1
    .heading-2
    .heading-3
*/

html, body, #root {
    height: 100svh;
    width: 100svw;
    overflow: hidden;
}

/* Text color */
#root {
    color: var(--color);
}

.color-emphasized {
    color: var(--color-emphasized);
}

.color-muted {
    color: var(--color-muted);
}

/* Spacing */
.gap-xs {
    gap: var(--spacing-xs);
}

.gap-sm {
    gap: var(--spacing-sm);
}

.gap-md {
    gap: var(--spacing-md);
}

.gap-lg {
    gap: var(--spacing-lg);
}

.gap-xl {
    gap: var(--spacing-xl);
}


/* Surfaces */
.surface-base,
.surface-elevated,
.surface-sunken,
.surface-item {
    border-radius: var(--surface-radius);
    padding: var(--surface-padding);
}


/* Buttons */
.button-primary, 
.button-secondary, 
.button-danger {
    border-radius: var(--button-radius);
    padding: var(--button-padding);
}

/* Buttons: ghost buttons */
.button-ghost {
    border-radius: var(--button-ghost-radius);
    padding: var(--button-padding);
}

.button-text {
    padding: var(--button-padding);
}


/* Input */
.label {
    padding-bottom: var(--spacing-sm);
}

.input {
    border-radius: var(--input-radius);
    padding: var(--input-padding);
}



