/*
Classes:

.surface-base 
.surface-elevated 
.surface-sunken 

.button-primary  
.button-secondary 
.button-danger 
.button-ghost 
.button-text 

.link

.input

.text-normal 
.text-emphasized 
.text-muted 

.heading-1
.heading-2
.heading-3

*/
#root[data-theme="dark"] {
    --bg: rgb(16, 30, 36);
    --font-family: Arial, Helvetica, sans-serif;
    /* Surfaces */
    --surface-radius: unset;
    --surface-padding: 0.5rem;

    --surface-base-bg: rgb(17, 32, 51);
    --surface-base-border: 0.1rem solid rgba(255, 255, 255, 0.1);

    --surface-elevated-bg: rgb(0, 61, 110);
    --surface-elevated-border: 0.1rem solid rgba(255, 255, 255, 0.2);;
    --surface-elevated-shadow: 
        0 0 0.2rem 0 rgba(255, 255, 255, 0.05),
        inset 0 0 0 0.1rem rgba(255, 255, 255, 0.05);
    
    --surface-sunken-bg: rgb(0, 87, 114);
    --surface-sunken-border: 0.1rem solid rgba(255, 255, 255, 0.05);;
    --surface-sunken-shadow: inset 0 0 0.2rem 0.05rem rgb(0, 0, 0);

    /* Buttons */
    --button-radius: 0.1rem;
    --button-padding: 0.5rem 1.5rem;

    --button-primary-bg: rgb(52, 145, 106);;
    --button-primary-border: unset;
    --button-primary-shadow: unset;
    --button-primary-hover-filter: brightness(110%);
    --button-primary-hover-shadow: unset;
    --button-primary-active-filter: brightness(120%);
    --button-primary-active-shadow: unset;

    --button-secondary-bg: rgb(71, 74, 104);;
    --button-secondary-border: unset;
    --button-secondary-shadow: unset;
    --button-secondary-hover-filter: brightness(110%);
    --button-secondary-hover-shadow: unset;
    --button-secondary-active-filter: brightness(110%);
    --button-secondary-active-shadow: unset;

    --button-danger-bg: rgb(117, 0, 0);;
    --button-danger-border: unset;
    --button-danger-shadow: unset;
    --button-danger-hover-filter: brightness(90%);
    --button-danger-hover-shadow: unset;
    --button-danger-active-filter: brightness(85%);
    --button-danger-active-shadow: unset;

    --button-disabled-filter: unset;
    --button-disabled-shadow: unset;

    /* Buttons: ghost buttons */
    --button-ghost-disabled-filter: unset;

    --button-ghost-radius: 9999px;
    --button-ghost-hover-bg: rgb(66, 66, 66);
    --button-ghost-hover-shadow: unset;
    --button-ghost-active-filter: brightness(105%);
    --button-ghost-active-shadow: unset;;

    --button-text-hover-filter: brightness(95%);
    --button-text-active-filter: brightness(92%);

    /* Links */
    --link-color: unset;
    --link-decoration: unset;
    --link-hover-color: unset;
    --link-hover-decoration: unset;
    --link-active-color: unset;
    --link-active-decoration: unset;
    --link-visited-color: unset;
    --link-visited-decoration: unset;

    /* Inputs */
    --input-radius: 0.2rem;
    --input-padding: 0.1rem 0.3rem 0.1rem 0.3rem;

    --input-bg: rgb(23, 49, 25);
    --input-border: 0.2rem solid rgba(255, 255, 255, 0.425);
    --input-shadow: unset;
    
    --input-hover-outline: unset;
    --input-hover-filter: unset;
    --input-hover-shadow: unset;

    --input-focus-visible-outline: unset;
    --input-focus-visible-filter: unset;
    --input-focus-visible-shadow: 0 0 2rem 0.1rem rgba(255, 255, 255, 0.24);

    --input-invalid-bg: unset;
    --input-invalid-border: unset;
    --input-invalid-shadow: unset;

    --input-disabled-bg: unset;
    --input-disabled-border: unset;
    --input-disabled-shadow: unset;

    /* Text */
    --text-normal-color: rgb(199, 199, 199);
    --text-emphasized-color: unset;
    --text-muted-color: unset;

    /* Headings */
    --text-heading-color: hsl(135, 100%, 92%);
    --text-heading-1-font: 1.4rem var(--font-family);
    --text-heading-2-font: 1.2rem var(--font-family);
    --text-heading-3-font: 1.1rem var(--font-family);
}