/*
Classes:

.surface-base 
.surface-elevated 
.surface-sunken 

.button-primary  
.button-secondary 
.button-danger 
.button-ghost 
.button-text 

.link

.input

.text-normal 
.text-emphasized 
.text-muted 

.heading-1
.heading-2
.heading-3

*/
#root {
    --bg: unset;
    /* Surfaces */
    --surface-radius: unset;
    --surface-padding: unset;

    --surface-base-bg: unset;
    --surface-base-border: unset;

    --surface-elevated-bg: unset;
    --surface-elevated-border: unset;
    --surface-elevated-shadow: unset;
    --surface-sunken-bg: unset;
    --surface-sunken-shadow: unset;

    /* Buttons */
    --button-radius: unset;
    --button-padding: unset;

    --button-primary-bg: unset;
    --button-primary-border: unset;
    --button-primary-shadow: unset;
    --button-primary-hover-filter: unset;
    --button-primary-hover-shadow: unset;
    --button-primary-active-filter: unset;
    --button-primary-active-shadow: unset;

    --button-secondary-bg: unset;
    --button-secondary-border: unset;
    --button-secondary-shadow: unset;
    --button-secondary-hover-filter: unset;
    --button-secondary-hover-shadow: unset;
    --button-secondary-active-filter: unset;
    --button-secondary-active-shadow: unset;

    --button-danger-bg: unset;
    --button-danger-border: unset;
    --button-danger-shadow: unset;
    --button-danger-hover-filter: unset;
    --button-danger-hover-shadow: unset;
    --button-danger-active-filter: unset;
    --button-danger-active-shadow: unset;

    --button-disabled-filter: unset;
    --button-disabled-shadow: unset;

    /* Buttons: ghost buttons */
    --button-ghost-disabled-filter: unset;

    --button-ghost-radius: unset;
    --button-ghost-hover-bg: unset;
    --button-ghost-hover-shadow: unset;
    --button-ghost-active-filter: unset;
    --button-ghost-active-shadow: unset;;

    --button-text-hover-filter: unset;
    --button-text-active-filter: unset;

    /* Links */
    --link-color: unset;
    --link-decoration: unset;
    --link-hover-color: unset;
    --link-hover-decoration: unset;
    --link-active-color: unset;
    --link-active-decoration: unset;
    --link-visited-color: unset;
    --link-visited-decoration: unset;

    /* Inputs */
    --input-radius: unset;
    --input-padding: unset;

    --input-bg: unset;
    --input-border: unset;
    --input-shadow: unset;
    
    --input-hover-bg: unset;
    --input-hover-border: unset;
    --input-hover-shadow: unset;

    --input-focus-visible-bg: unset;
    --input-focus-visible-border: unset;
    --input-focus-visible-shadow: unset;

    --input-invalid-bg: unset;
    --input-invalid-border: unset;
    --input-invalid-shadow: unset;

    --input-disabled-bg: unset;
    --input-disabled-border: unset;
    --input-disabled-shadow: unset;

    /* Text */
    --text-normal-color: unset;
    --text-normal-font: unset;
    --text-emphasized-color: unset;
    --text-emphasized-font: unset;
    --text-muted-color: unset;
    --text-muted-font: unset;

    /* Headings */
    --text-heading-color: unset;
    --text-heading-1-font: unset;
    --text-heading-2-font: unset;
    --text-heading-3-font: unset;
}