
/* Base styling */
.Panel {
    border-width: 0.0625rem;
    border-color: var(--border);
}

/* VARIANT: 1 */
.Panel[data-variant="1"] {
    background-color: var(--bg-1);
    padding: 0.4rem;
}

/* VARIANT: 2 */
.Panel[data-variant="2"] {
    background-color: var(--bg-2);
    padding: 0.4rem;
}

/* VARIANT: 3 */
.Panel[data-variant="3"] {
    background-color: var(--bg-3);
    padding: 0.4rem;
}

/* VARIANT: 4 */
.Panel[data-variant="4"] {
    background-color: var(--bg-4);
    padding: 0.4rem;
}

/* VARIANT: 5 */
.Panel[data-variant="5"] {
    background-color: var(--bg-5);
    padding: 0.4rem;
}

