#root[data-theme="dark"] {
    --bg-1: rgb(0, 0, 0);
    --bg-2: rgb(16, 30, 36);
    --bg-3: rgb(17, 32, 51);
    --bg-4: rgb(0, 61, 110);
    --bg-5: rgb(0, 87, 114);

    --button-bg: rgb(52, 145, 106);
    --button-secondary-bg: rgb(71, 74, 104);
    --button-warning-bg: rgb(117, 0, 0);
    --button-danger-bg: rgb(141, 127, 0);
}

*[data-theme="dark"] {
    color: rgb(146, 209, 211)
}

#root[data-theme="light"] {
    --bg-1: rgb(82, 105, 105);
    --bg-2: rgb(99, 151, 129);
    --bg-3: rgb(156, 228, 206);
    --bg-4: rgb(255, 251, 194);
    --bg-5: rgb(142, 219, 255);

    --button-bg: rgb(209, 97, 166);
    --button-secondary-bg: rgb(156, 155, 248);
    --button-warning-bg: rgb(224, 0, 0);
    --button-danger-bg: rgb(255, 238, 0);
}

*[data-theme="light"] {
    color: rgb(0, 0, 0);
    font-weight:600;
}

@import "tailwindcss";



