#root[data-theme="dark"] {
    --bg-1: rgb(53, 3, 2);
    --bg-2: rgb(0, 37, 36);
    --bg-3: rgb(0, 58, 55);

    --button-bg: rgb(0, 131, 136);
    --button-secondary-bg: rgb(13, 90, 104);
    --button-warning-bg: rgb(122, 110, 0);
    --button-danger-bg: rgb(136, 0, 0);
}

*[data-theme="dark"] {
    color: rgb(175, 252, 255)
}

#root[data-theme="light"] {
    --bg-1: rgb(182, 224, 215);
    --bg-2: rgb(141, 185, 179);
    --bg-3: rgb(183, 229, 235);

    --button-bg: rgb(219, 143, 0);
    --button-secondary-bg: rgb(240, 228, 177);
    --button-warning-bg: rgb(224, 0, 0);
    --button-danger-bg: rgb(255, 238, 0);
}

*[data-theme="light"] {
    color: rgb(80, 80, 80);
    font-weight:600;
}


@import "tailwindcss";



