
.Input {
    background-color: var(--input-bg);

    height: 1rem;
    box-sizing: content-box;
    
    border: 0.25rem solid var(--input-border);
    border-radius: 0.25rem;

    padding: 0.05rem 0.25rem 0.05rem 0.4rem;
}

.Input:focus {
    box-shadow: 0 0 1rem 0.125rem var(--highlight-color);
    outline: none;
}




