

.messages-container {
    display: flex;
    flex-direction: column;
}

.input-panel {
    display: flex;
    gap: 0.2rem;
}

.message-input {
    box-sizing: content-box;
    flex-shrink: 0;
    max-height: 50svh;
    min-height: 1rem;
    padding: 0.3rem 7rem 0.3rem 0.3rem;
}

.send-button {
    align-self: end;
}